main{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(rgb(110, 202, 74), rgb(23, 122, 23), green);
}

main > * {
    margin: auto;
}

form{
    background: linear-gradient(rgb(110, 202, 74), rgb(23, 122, 23), green);
    text-align: center;
    align-items: center;
}

img{
    margin-top: -15%;
}

#error{
    display: none;
}