*{
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
    color: white;
    margin: 1%;
}

#idPartido {
    color: red;
}

#marcadorJuegos {
    display: flex;
    flex-direction: row;
}

td{
    padding: 8px;
    border: solid black 1px;
    flex-direction: row-reverse;
}
th{
    padding: 8px;
    border: solid black 1px;
}

table{
    border: solid, black, 1px;
    color: white;
}

.container {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    align-content: center;
    margin-left: 2%;
    border-radius: 20px;
}

.servicio{
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.contenedorPuntuacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 65%;
    padding-top: 1%;
    padding-bottom: 1%;
}
aside{
    display: grid;
    gap: 5px;
    padding-left: 10%;
}

                /*MODALES PROPIEDADES
aprovecharemos las clases para mostrar y cerrarlos*/
.modal-finPunto {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal-finPunto-show{
    opacity: 1;
    pointer-events: unset;

}

.modal-container{
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 5%;
    place-items: center;
}

.modal-titulo{
    color: black;
    margin-bottom: 5%;
}

.modal-finPuntob{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal-finPunto-showb{
    opacity: 1;
    pointer-events: unset;

}

.modal-containerb{
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 5%;
    place-items: center;
}

.modal-titulob{
    color: black;
    margin-bottom: 5%;
}



