*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

#marcadorJuegos {
    display: flex;
    flex-direction: row;
}

td{
    padding: 8px;
    border: solid black 1px;
    flex-direction: row-reverse;
}
th{
    padding: 8px;
    border: solid black 1px;
}

table{
    border: solid, black, 1px;
}